/*******GENERELLE INDSTILLINGER*********/
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

img {
    max-width: 100%;
}

#container {
    width: 100vw;
    max-width: 1200px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0 auto;
    align-items: stretch;
    grid-template-rows: 1fr;
}

main section {
    display: block;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    font-family: pt-serif, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    padding-top: 50px;
}



/*******GENERELLE INDSTILLINGER*********/

/*******HEADER NAVIGATION START*********/
/*******LOGO / PIl *********/
#logo {
    position: relative;
    top: 15px;
    left: 15px;
    height: 100px;
    width: 100px;
}

.pil {
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 5px;
    left: 50vw;
}

/*******LOGO*********/
#menuknap {
    display: inline-block;
    font-family: pt-sans, sans-serif;
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    color: white;
    right: 20px;
    z-index: +1;

}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    height: 100vh;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.58);
    padding-top: 100px;
}

#menu a {
    font-family: pt-serif, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}




/*******HEADER NAVIGATION SLUT*********/

/*******SPLASH START*********/
#splash {
    background-image: url(billeder/splashoprange.png);
    height: 110vh;
    width: 100vw;
    background-size: cover;
    background-position: 75% 10%;

}

/*******DROPDOWN NAVIGATION START*********/
#dropdownknap {
    display: block;
    cursor: pointer;
    background-color: #b6dcf6;
    color: white;
    padding: 15px 0px;
}

#dropdownDrinks {
    list-style-type: none;
    z-index: +1;

}

button.filter {
    cursor: pointer;
    border: none;
    background-color: #b6dcf6;
    color: black;
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    margin-bottom: 2px;

}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

ul {
    list-style: none;
    display: block;
    padding: 5px 0px;
}

/****DRINK NAVIGATION WEB*****/
@media (min-width:847px) {
    h1 {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    #dropdownDrinks {
        display: block;
        width: 100vw;
        text-align: center;
        background-color: #b6dcf6;

    }

    #dropdownknap {
        display: none;
    }

    #sorterdrinks.hidden {
        display: initial;
    }

    #sorterdrinks li {
        display: inline-block;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    #sorterdrinks {
        width: 100%;
    }

    button.filter {
        padding: 20px 50px;
        border: 0;
        cursor: pointer;
        text-align: center;
    }

    #logo {
        height: 150px;
        width: 150px;
    }
}

/*******DRINKS START*********/
#drink {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

#drink img {
    width: 100%;
}

#drink h2 {
    font-family: pt-serif, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 10px;
    text-align: center;
}

#drink .kort {
    font-family: pt-serif, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    padding: 20px 10px;
    margin: 0;
}

#popKnap {
    width: 100%;
    padding: 15px 20px;
    margin: 5px 3px;
    border: 0;
    cursor: pointer;
    text-align: center;
    background-color: #b6dcf6;
    bottom: 0;
}


/*******DRINKS SLUT*********/

/*******SINGLEVIEW START*********/
#popop {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

#popop article {
    position: relative;
    top: 17%;
    background-color: white;
    height: 600px;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 20px 0;
    align-items: center;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
    flex-grow: 2;
    flex-direction: row;
    color: black;
    gap: 30px;
}

.tekst {
    flex-basis: 200px;
    flex-grow: 1;
}

#luk {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f0ede6;
    border: solid 1px #dd6c42;
    width: 30px;
    height: 30px;
    color: #dd6c42;

}

#popop img {
    width: 400px;

}

#popop h2 {
    text-align: center;
    padding-top: 30px;
}

.drink-overskrift {}

@media only screen and (min-width: 880px) {
    #menu button {
        display: inline;
    }

    #popop article {
        height: 500px;
    }

}




@media only screen and (min-width: 1100px) {

    .sectionwrapper {
        flex-direction: row;
        padding: 0 150px 0;
    }

    #popop article {
        height: 500px;
    }

}

@media only screen and (min-width: 1440px) {
    #popop article {
        height: 500px;
    }

}
