/*******GENERELLE INDSTILLINGER*********/
* {
    margin: auto 0;
}

img {
    max-width: 100%;
}

#container {
    width: 100vw;
    max-width: 1200px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0 auto;
}

main section {
    display: block;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    font-family: pt-serif, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    padding-top: 50px;
}

/*******GENERELLE INDSTILLINGER*********/

/*******HEADER NAVIGATION START*********/
/*******LOGO*********/
#logo {
    position: relative;
    top: 10px;
    height: 150px;
    width: 150px;
}

/*******LOGO*********/
#menuknap {
    display: inline-block;
    font-family: pt-sans, sans-serif;
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    color: white;
    right: 20px;
    z-index: +1;

}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    height: 100vh;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.58);
    padding-top: 100px;
}

#menu a {
    font-family: pt-serif, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}



/****HEADER WEB*****/
/*
@media (min-width:765px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        display: initial;
    }

    #menu li {
        display: inline-block;
        padding-bottom: 10px;
        padding-top: 5px;
        float: right;
    }

    header nav a {
        font-family: pt-serif, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        padding-right: 25px;
    }

    #menu {
        top: 0;
        width: 100%;
    }
}
*/


/*******HEADER NAVIGATION SLUT*********/

/*******SPLASH START*********/
#splash {
    background-image: url(billeder/splashgreen.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: 75% 10%;

}

/*******DROPDOWN NAVIGATION START*********/
#dropdownknap {
    display: block;
    font-family: pt-serif, serif;
    font-style: normal;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #b6dcf6;
    color: white;
    padding: 15px 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

#dropdownDrinks {
    list-style-type: none;
    z-index: +1;
}

button.filter {
    cursor: pointer;
    border: none;
    background-color: #b6dcf6;
    color: black;
    padding: 15px 20px;
    margin-bottom: 2px;
    width: 100%;
    text-align: left;
    font-size: 1rem;
}

button:hover {
    background-color: #d9ebf4;
}

ul {
    list-style: none;
    display: block;
    padding: 5px 10px;
}

/****DRINK NAVIGATION WEB*****/
@media (min-width:765px) {
    h1 {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    #dropdownDrinks {
        display: block;
        width: 100vw;
        text-align: center;
        padding: 30px 0px;
    }

    #dropdownknap {
        display: none;
    }

    #sorterdrinks.hidden {
        display: initial;
    }

    #sorterdrinks li {
        display: inline-block;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    #sorterdrinks {
        width: 100%;
    }

    button.filter {
        width: 200px;
        padding: 15px 20px;
        margin: 5px 3px;
        border: 0;
        cursor: pointer;
        text-align: center;
    }
}

/*******DRINKS START*********/
#drink {
    margin: 10px;
}

#drink img {
    width: 100%;
}

#drink h2 {
    font-family: pt-serif, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 10px;
}

#drink .kort {
    font-family: pt-serif, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    padding: 0px 10px;
    margin: 0;
}

#popKnap {
    width: 100%;
    padding: 15px 20px;
    margin: 5px 3px;
    border: 0;
    cursor: pointer;
    text-align: center;
    background-color: #b6dcf6;
    bottom: 0;
}

/*******DRINKS SLUT*********/

/*******SINGLEVIEW START*********/
#popop {
    z-index: 5;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
}

#popop article {
    background-color: white;
    height: auto;
    width: 50vw;
    margin-top: 100px;
    margin-left: 40px;
    padding-bottom: 30px;
}

#popop .navn {
    padding-left: 10px;
    padding-top: 5px;
}

#popop p {
    padding: 10px;
    font-family: pt-sans, sans-serif;
    font-style: normal;
    font-size: 1rem;
}

#luk {
    position: fixed;
    font-size: 2rem;
    color: black;
    background-color: transparent;
    padding: .1em;
    cursor: pointer;
    border: none;
    box-shadow: 2px;
}
